/* -------  General Styles ------- */
body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  margin: 0 10px 15px 10px;
  text-align: center;
  font-weight: bold;
  color: #83092e
}


p {
  line-height: 2.3em;
  margin: 0;
  font-weight: 460;
}

section {
  padding: 20px;
}

.aboutGroup {
  display: flex;
  flex-direction: column;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item-double {
  padding-top: 20px;
  flex: 2;
}
.item {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.joinform {
  flex: 1;
  padding: 120px;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul li {
  list-style-type: none;
}

header nav ul {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}



/* -------  Join Form ------- */
form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
  color: #83092e;
  font-size: 25;
}

.boxForm{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #83092e
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

main img {
  width: 100%;
}

/* ------ ABOUT ------- */

#about h2 {
  color:rgb(246, 203, 203);
}

#download p, #download li {
  font-weight: bold;
  color: #9c133c;
  font-size: 20px;
}
#download h2 {
  color: #9c133c;
  font-size: 36px;
}

#about p {
  color:rgb(246, 203, 203);
  font-size: 20px;
}

#blog h2 {
  color:rgb(246, 203, 203);
}

#blog h3 {
  font-size: 26px;
  font-weight: 600;
}

#blog p {
  font-size: 20px;
  font-weight: 550;
}

/* ------- BLOG ----------*/


/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 600px) {
  #section img {
    width: 100%;
    border-right: 20px;
  }
  
  #about p {
    padding: 40px;
    font-size: 20px;
  }

  #blog p {
    list-style: none;
    padding-left: 0;
    margin: 0, 40px, 20px, 0;
  }

  #about section {
    display: flex;
    flex-direction: row;
  }
  #about img{
    width: 30%;
    padding-right: 20px;
  }
  #download {
    background: #fff;
  }
  #download h2, #download p {
    justify-content: center;
    color: #9c133c;
  }
  .item {
    display: flex;
    flex-direction: row;
  }

  #download ul {
    margin: 0 0 30px 65px;
  }

.topRow, .bottomRow{
  display: flex;
  flex-direction: row;
}

#blog img {
  width: 95%;
}
#blog h3 {
  font-size: 26px;
  font-weight: 400;
}

#blog h2 {
  text-align: center;
  padding-right: 40px;
}

}